{% extends 'base.html' %}
{% block title %}
    Delete Post
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if 'warning' in message.tags %}
                <div class="ui negative message">
                    <div class="header">
                        {{ message }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="ui segment">
        <h3>Delete Post</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <p>Are You Sure To Delete The Post ?</p>
            <button type="submit" class="ui button primary mt-5">Delete</button>
        </form>
        </div>
    {% endif %}
{% endblock %}