{% extends 'base.html' %}
{% block title %}
    Profile Detail
{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="row">
            <div class="five wide column">
                <img class="ui medium rounded image" src="{{ object.avatar.url }}">
                <h1>{{ object.user }}</h1>
                <div class="ui vertical fluid menu">
                    <div class="item">
                        Posts
                        <div class="ui label">
                            {{ object.get_posts_count }}
                        </div>
                    </div>
                    <div class="item">
                        Likes Given
                        <div class="ui label">
                            {{ object.get_likes_given_count }}
                        </div>
                    </div>
                    <div class="item">
                        Likes Received
                        <div class="ui label">
                            {{ object.get_likes_received_count }}
                        </div>
                    </div>
                    <div class="item">
                        Friends
                        <div class="ui label">
                            {{ object.get_friends_count }}
                        </div>
                    </div>
                </div>

                    {% if object.user not in relationship_receiver and object.user not in relationship_sender %}
                            <form action="{% url 'send-invite' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{ object.pk }}">
                                <button type="submit" class="ui positive basic button mt-5 w-big">
                                    <i class="plus square icon"></i> Follow
                                </button>
                            </form>
                        {% endif %}

                        {% if object.user in relationship_receiver and request.user not in object.friends.all %}
                            <br>
                            <button type="submit" class="ui disabled button mt-5 w-big">
                                <i class="user icon"></i> Pending
                            </button>

                        {% endif %}

                         {% if request.user in object.friends.all %}
                            <form action="{% url 'remove-friend' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{ object.pk }}">
                                <button type="submit" class="ui negative basic button mt-5 w-big">
                                    <i class="minus square icon "></i> Unfollow
                                </button>
                            </form>
                        {% endif %}

            </div>
            <div class="eleven wide column">
                {% if len_posts %}
                    {% for post in posts %}
                        <div class="segment ui fluid">
                            {{ post.content }}
                        </div>
                    {% endfor %}
                {% else %}
                    <h1>No Post of this user...</h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}