{% extends 'base.html' %}
{% block title %}
    My Profile
{% endblock %}
{% block content %}

    <!-- MODAL -->
    <div class="ui modal mymodal">
        <i class="close icon"></i>
        <div class="header">
            Update Your Profile
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img src="{{ profile.avatar.url }}" alt="{{ profile.avatar.url }}">
            </div>
            <div class="description">
                <div class="ui header">Provide some additional/newest info about you.</div>
                <form action="" method="POST" class="ui form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
            </div>
        </div>
        <div class="actions">
            <button type="submit" class="ui positive right labeled icon button">
                Update
                <i class="checkmark icon"></i>
            </button>
            </form>

        </div>
    </div>
    <!-- MODAL -->
    <div class="ui segment">
        {% if confirm %}
            <div class="ui green message">Profile Update Successfully</div>
        {% endif %}
        <h3>Profile : {{ request.user }}</h3>
        <div class="ui grid">
            <div class="row">
                <div class="six wide column">
                    <img class="ui medium rounded image" src="{{ profile.avatar.url }}">
                    <div class="row mt-5">
                        <button class="ui secondary button" id="modal-btn">update Your Profile</button>
                    </div>
                </div>

                <div class="ten wide column">
                    <div class="ui four item menu">
                        <a class="item">Friends &nbsp; [{{ profile.get_friends_count }}]</a>
                        <a class="item">Like Given &nbsp;[{{ profile.get_likes_given_count }}]</a>
                        <a class="item">Like Received &nbsp; [{{ profile.get_likes_received_count }}]</a>
                        <a class="item">Posts &nbsp;[{{ profile.get_posts_count }}]</a>
                    </div>

                    <table class="ui table">
                        <tbody>
                        <tr>
                            <td>username</td>
                            <td>{{ profile.user }}</td>
                        </tr>
                        <tr>
                            <td>first name</td>
                            <td>{{ profile.first_name }}</td>
                        </tr>
                        <tr>
                            <td>last name</td>
                            <td>{{ profile.last_name }}</td>
                        </tr>
                        <tr>
                            <td>bio</td>
                            <td>{{ profile.bio }}</td>
                        </tr>
                        <tr>
                            <td>friends</td>
                            <td>
                                <ul>
                                    {% for friend in profile.get_friends %}
                                        <li>{{ friend }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>





{% endblock %}
{% block scripts %}

{% endblock %}