{% extends 'base.html' %}
{% block title %}
    All Profiles
{% endblock %}
{% block content %}
    {% if is_empty %}
        <h1>No profile to interact with</h1>
    {% endif %}
    {% for profile in object_list %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="row" onclick="window.location.href = '{{ profile.get_absolute_url }}';">
                    <div class="two wide column">
                        <img class="ui tiny circular image" src="{{ profile.avatar.url }}">
                    </div>
                    <div class="eight wide column">
                        <h3>{{ profile.user }}</h3>
                        <p>{{ profile.bio }}</p>


                    </div>
                    <div class="six wide column">
                        {% if profile.user not in relationship_receiver and profile.user not in relationship_sender %}
                            <form action="{% url 'send-invite' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{ profile.pk }}">
                                <button type="submit" class="ui positive basic button mt-5 w-big">
                                    <i class="plus square icon"></i> Follow
                                </button>
                            </form>
                        {% endif %}

                        {% if profile.user in relationship_receiver and request.user not in profile.friends.all %}
                            <form action="{% url 'remove-friend' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{ profile.pk }}">
                                <button type="submit" class="ui basic button mt-5 w-big">
                                    <i class="user icon "></i> Pending
                                </button>
                            </form>
                        {% endif %}

                        {% if request.user in profile.friends.all %}
                            <form action="{% url 'remove-friend' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{ profile.pk }}">
                                <button type="submit" class="ui negative basic button mt-5 w-big">
                                    <i class="minus square icon "></i> Unfollow
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
